<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
	
	<insert id="insertQuestion" parameterType="question">
		insert into question_board(question_no, member_id, question_title, question_content, reg_date)
		values (
			default,
			#{memberId},
			#{questionTitle},
			#{questionContent},
			default
		)
		
		<selectKey keyProperty="questionNo" resultType="_int" order="AFTER">
			select seq_question_board_no.currval
			from dual
		</selectKey>
		
	</insert>
	
	<insert id="insertAttachment">
		insert into attachment(attach_no, question_no, original_filename, renamed_filename)
		values (
			default,
			#{questionNo},
			#{originalFilename},
			#{renamedFilename}
		)
	</insert>
	
	<select id="selectQuestionList" resultType="question">
		select
			b.*,
			(select count(*) from attachment where question_no = b.question_no) attach_count
		from question_board b left join member a
                    on b.member_id = a.id
        where b.member_id = #{memberId}
		order by question_no desc
	</select>
	
	<select id="countTotalContent" resultType="_int">
		select count(*)
		from question_board a left join member b
		        on a.member_id = b.id
		where a.member_id = #{id}
	</select>
	
	<select id="selectOneQuestionCollection" resultMap="questionCollectionMap">
		select 
			b.*,
			a.*,
			a.attach_no attach_no
		from question_board b left join attachment a
				on b.question_no = a.question_no
		where b.question_no = #{no}
		order by b.question_no desc
	</select>
	
	<resultMap type="question" id="questionCollectionMap">
		<id column="question_no" property="questionNo"/>
		<result column="member_id" property="memberId"/>
		<result column="question_title" property="questionTitle"/>
		<result column="question_content" property="questionContent"/>
		<result column="reg_date" property="regDate"/>
		
		<collection property="attachments" ofType="attachment">
			<id column="attach_no" property="attachNo"/>
			<result column="question_no" property="questionNo"/>
			<result column="original_filename" property="originalFilename"/>
			<result column="renamed_filename" property="renamedFilename"/>
			<result column="reg_date" property="regDate"/>
		</collection>
	</resultMap>
	
	<select id="selectOneAttachment" resultType="attachment">
		select * 
		from attachment
		where attach_no = #{no}
	</select>
	
	<update id="updateQuestion">
		update question_board
		set
			question_title = #{questionTitle},
			question_content = #{questionContent}
		where question_no = #{questionNo}
	</update>
	
	<delete id="deleteQuestionAttachment">
		delete from attachment
		where attach_no = #{attachNo}
	</delete>
	
	<select id="selectAttachmentByQuestionNo" resultType="attachment">
		select *
		from attachment 
		where question_no = #{no}
	</select>
	
	<update id="updateAttachment">
		update attachment
		set
			attach_no = default,
			renamed_filename = #{renamedFilename},
			original_filename = #{originalFilename},
			reg_date = default
		where question_no = #{questionNo}
	</update>
	
	
	<select id="selectQuestionComment" resultType="QuestionComment">
		select *
		from question_comment
		where question_no = #{no}
	</select>
	
	<insert id="insertQuestionComment">
		insert into question_comment(no, question_no, writer, content, reg_date)
		values (
			default,
			#{questionNo},
			#{writer},
			#{content},
			default
		)
	</insert>
	
	<delete id="deleteQuestionComment">
		delete from question_comment
		where no = #{commentNo}
	</delete>
	
	<select id="selectQuestionListByAdmin" resultType="question">
		select 
        	b.*,
        	(select count(*) from attachment where question_no = b.question_no) attach_count
		from question_board b
		order by question_no desc
	</select>
	
	<select id="countTotalContentByAdmin" resultType="_int">
		select count(*)
		from question_board
	</select>
	
	<delete id="deleteOneQuestion">
		delete from question_board
		where question_no = #{questionNo}
	</delete>
	
	<update id="updateQuestionAnswer">
		update question_board
		set 
			answer = 'Y'
		where question_no = #{questionNo}
	</update>
	
	<update id="updateQuestionAnswerToN">
		update question_board
		set
			answer = default
		where question_no = #{questionNo}
	</update>

	<select id="selectOneMember" resultType="member">
		select
			*
		from
			member
		where
			id = #{id}
	</select>
	
</mapper>