@charset "UTF-8";

html {
    overflow-y: visible;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
}

body, th, td, input, select, textarea, button {
    font-family: 'Noto Sans KR';
    font-size: 100%;
    line-height: 1.15;
    color: #222222;
}

body {
    line-height: 1;
    font-size: 0.75em;
    background: #212121;
}

/* index.jsp 시작 */

section#main-content {
	background-color: #fff;
	height: auto;
}

#visual {
    position: relative;
    margin: 0 auto;
    top: 30px;
    width: 100%;
    height: 558px;
    overflow: hidden;
    background-size: 100% 100%;
    padding-top: 30px;
}

.slick-slider {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-initialized .slick-slide {
    margin: 0 10px;
}

#visual .visual_img, #visual .visual_txt {
    float: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#visual .visual_img {
    width: 55%;
}

#visual .visual_img, #visual .visual_txt {
    float: left;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#visual .visual_txt {
    width: 45%;
    padding-top: 80px;
}

#visual .visual_txt .tit-l, #visual .visual_txt .tit-l .kor, #visual .visual_txt .txt, #visual .visual_txt .txt .btn_more {
    color: #fff;
}

#visual .visual_txt .tit-l, #visual .visual_txt .tit-l .kor {
    font-size: 50px;
}

#visual .visual_txt .tit-l {
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    color: #fff;
}

.mt50 {
    margin-top: 50px;
}

#visual .visual_txt .tit-l .kor {
    font-size: 45px;
    letter-spacing: 5px;
    line-height: 1.1;
}

#visual .visual_txt .txt {
    color: #000;
}

#visual .visual_txt .txt {
    margin-top: 20px;
}

#visual .visual_txt .txt {
    font-size: 28px;
    color: #fff;
    margin-top: 20px;
}

#visual .slick-dots {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    margin: auto auto;
    display: block;
    width: 40px;
    padding-top: 90px;
    list-style: none;
    text-align: right;
}

#visual .slick-dots li {
    position: relative;
    display: block;
    margin: 5px 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    background: transparent !important;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

#visual .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

/* screening film */

.pg .sec:first-child {
    border-top: 0;
}
.pg .sec {
    border-top: 1px solid #e0e0e0;
}

.cont_main .sec {
    position: relative;
    padding: 60px 0;
}

.pg .main_tit {
    position: absolute;
    top: 430px;
    left: 0px;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

.pg .pg_tit_wrap {
    position: relative;
    margin-bottom: 35px;
}

.pg .pg_tit_wrap h3, .pg .pg_tit_wrap a {
	color: white;
    display: inline-block;
}

.main_sec_tit {
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
}

.pg .pg_tit_wrap a.btn_more {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 5px !important;
    padding: 6px;
    margin-left: 15px;
}

.pg .pg_tit_wrap h3, .pg .pg_tit_wrap a {
    display: inline-block;
}

.pg .film_list {
    position: relative;
}

.film-slick-arrow.film-slick-prev {
    right: 120px;
    background: url(/kor/img/main/ico_film_prev.png) no-repeat 50% 50%;
}

.film-slick-arrow {
    position: absolute;
    top: -70px;
    display: inline-block;
    width: 100px;
    height: 20px;
    text-indent: -9999px;
    opacity: 0.3;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.pg .slick-list {
    margin: 0 auto;
    width: 1800px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.pg .film_list .film_li {
    padding-right: 30px;
}

.pg .film_list .film_li .thumb {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.thumb {
    position: relative;
    display: block;
    overflow: hidden;
}

.pg .film_list .film_li .thumb img {
    width: 100%;
    height: auto;
    min-height: 240px;
}

.slick-slide img {
    display: block;
}

.pg .film_list .film_li .txtbox {
    padding: 20px 0 0 0;
}

.pg .film_list .film_li .txtbox .tit {
	color: white;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cont_main .main_sec_tit, .cont_main .main_tit, .cont_main .tit {
    letter-spacing: -1px;
}

.cont_main {
	margin-top: 30px;
}

.pg .film_list .film_li .txtbox .dir {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 6px;
    letter-spacing: -0.5px;
    color: #888;
}

/* 굿즈샵 배너 */

.banner {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slide, .slick-list, .slick-track, .visual-slider {
    position: relative;
    height: 100%;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6000px; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;
}

.banner .bn_inner {
    padding: 60px 0 80px;
    background: url(https://i.imgur.com/1WlQ4wr.jpg);
}

.banner .bn_inner:hover {
	cursor: pointer;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.txt-center {
    text-align: center !important;
}

.col-md-12 {
    width: 100%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}


.banner .tit {
    font-size: 34px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

.cont_main .main_sec_tit, .cont_main .main_tit, .cont_main .tit {
    letter-spacing: -1px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-xs-2, .col-sm-2, .col-md-2, .col-xs-3, .col-sm-3, .col-md-3, .col-xs-4, .col-sm-4, .col-md-4, .col-xs-5, .col-sm-5, .col-md-5, .col-xs-6, .col-sm-6, .col-md-6, .col-xs-7, .col-sm-7, .col-md-7, .col-xs-8, .col-sm-8, .col-md-8, .col-xs-9, .col-sm-9, .col-md-9, .col-xs-10, .col-sm-10, .col-md-10, .col-xs-11, .col-sm-11, .col-md-11, .col-xs-12, .col-sm-12, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.banner .desc {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
    font-weight: 300;
    margin-top: 15px;
    opacity: .8;
}

.desc {
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    letter-spacing: -0.5px;
}

/* 공지사항 */

.cont_main .sec {
    position: relative;
    padding: 60px 0;
}

.news .news_tab li {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.news .news_tab li.active a, .news .news_tab li a:hover {
    background: url(/kor/img/main/ico_news_list_on.png) no-repeat right 50%;
}

.news .news_tab li.active a, .news .news_tab li a:hover {
    color: #fff;
}
.news .news_tab li a {
    font-size: 30px;
    font-weight: bold;
    color: #d1d1d1;
    letter-spacing: -1.5px;
    padding: 10px 40px 10px 0;
}

.news .main_tit {
    position: absolute;
    top: 60px;
    right: 0px;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform-origin: left middle;
    -ms-transform-origin: left middle;
    -webkit-transform-origin: left middle;
    -moz-transform-origin: left middle;
    -o-transform-origin: left middle;
}

.col-md-9 {
    width: 75%;
}

.col-xs-12 {
    width: 100%;
}

.news .news_list li:first-child {
    margin-top: 0;
}

.news .news_list li {
    margin: 20px 0;
}

.news .news_list li:first-child a {
    padding-top: 0;
}

.news .news_list li a {
    display: block;
    padding: 8px 0;
}

.news .news_list li a .date {
    position: relative;
    font-size: 15px;
    letter-spacing: 3px !important;
    padding-right: 100px;
}

.news .news_list li a .date, .news .news_list li a .brd_tit {
	color: white;
    display: inline-block;
}

.news .news_list li a .brd_tit {
    padding-left: 30px;
    width: 60%;
    font-size: 18px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.program {
	margin-left: 150px !important; 
	border-color: #212121 !important; 
	z-index: 999 !important; 
	width: 350px !important; 
	height: 200px !important; 
	left: -140px !important;
	padding-top: 100px;
}
/* index.jsp 끝 */

::selection {
    background: rgb(43, 63, 107);
    color: #FFF;
    text-shadow: none;
}

/* 이메일 구독 */

.newsletter-sns {
    background: #161616;
    padding: 130px 0;
    position: relative;
    display: flex;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
}

.newsletter-sns .main-sns {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.newsletter-sns .main-sns h2 {
	color: rgb(43, 63, 107);
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}

.newsletter-sns .main-sns h5 {
    color: #fff;
    text-align: right;
    font-size: 27px;
}

.newsletter-sns .main-newsletter {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    /* padding-top: 50px; */
}

.col-md-6 {
    width: 50%;
}

.newsletter-sns .main-newsletter label {
    display: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.newsletter-sns .main-newsletter input {
    font-size: 18px;
    width: 300px;
    height: 62px;
    padding: 20px;
    color: #666;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    margin-top: 0;
}

.newsletter-sns .main-newsletter button {
    background: rgb(43, 63, 107);
    border: none;
    width: 137px;
    height: 62px;
    color: white;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 0;
    margin-left: -4px;
    vertical-align: top;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#slider-scroller {
  animation: bannermove 60s linear infinite alternate;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -4200px;
  }
}

