@charset "UTF-8";

:root {
	--bg-gray : #f3f3f3;
}

/* 전체 컨테이너 */
#goodsCart-container {
	width: 70%;
	margin: 0 auto;
	display: flex;
	
	/* background-color: aqua; */
}

/* 왼쪽 컨테이너 */
#left-container {
	/* background-color: pink; */
	margin-top: 50px;
	height: 100%;
	width: 60%;
	padding-bottom: 60px;
}

/* 오른쪽 컨테이너 */
#right-container {
	/* background-color: gray; */
	margin-top: 50px;
	height: 100%;
	width: 40%;
	margin-left: 45px;
}
/* 컨테이너 고정 */
.fixed { 
    position: fixed; 
    top:0px; 
    left:55.4%; 
    width: 26.7%!important;
}


a:hover {
	color: black!important;
}

/*******************************************************************************
 * 왼쪽 컨테이너
 ******************************************************************************/
 .card-custom {
 	font-size: 12px;
 	margin-bottom: 30px;
 	
 	/* border-radius: 0.3rem;
 	border: 1px solid gray; */
 }
 
 .card-head {
 	display: flex;
 	justify-content: space-between;
 }
 
 .card-body {
 	display: flex;
 	/* justify-content: space-between; */
 	margin: 7px 0;
 	padding: 0!important;
 	border: 0!important;
 }
 
  .card-footer {
 	display: flex;
 	justify-content: space-between;
 	padding: 0!important;
 	background-color: white!important;
 	border: 0!important;
 	height: 45px;
 	margin-top: 11px;
 }
 
 .card-footer-left {
 	display: flex;
 	justify-content: space-between;
 	background-color: var(--bg-gray);
 	width: 100%;
 	border-radius: 0.3rem;
 	padding: 7px 24px;
 	
 	align-items: center;
 }
 
 .card-footer-right button {
 	width: 130px;
 	margin-left: 10px;
 	font-size: 13px!important;
 	height: 45px;
 }
 
 .card-footer-right button:hover {
 	background-color: white!important;
 }
 
 #qtyBtn {
 	border-color: #d7d7d7;
 	color: #3a3a3a;
 }
 
  .card-body-right {
 	/* background-color: aqua; */
 	margin-left: 20px;
 	/* width: 100%; */
 	position:relative;
 }
 
 .img-bg-div {
 	border-radius: 0.3rem;
 	background-color: var(--bg-gray);
 	width: 100px!important;
 	height: 100px!important;
 	
 }
 
 .cardId-div {
 	font-size: 14px;
 	color: #b3b3b3;
 }
 
 .goodsName-div {
 	position:relative;
 	margin-bottom: 4px;
 	font-size: 16px;
 }
 
 .goodsCategory-div {
 	position:relative;
 	color: #5f5f5f;
 	font-size: 13px;
 } 
 
  .goodsPrice-div {
 	position: absolute;
 	bottom: 0;
 	font-weight: bold;
 	font-size: 14px;
 }
 
 .img-bg-div img {
 	width:85px; 
 	height: 85px;
 	/* display: flex;
  	justify-content: center;
  	align-items: center; */
 }
 
  .img-bg-div {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 0;
  }
 
 
 
 
 
 
 
 
 /*******************************************************************************
 * 오른쪽 컨테이너
 ******************************************************************************/
 #summaryBody {
 	margin: 12px 0;
 	/* background: #f8f8f8; */
 	background: #f3f3f3;
 	border-radius: 0.3rem;
 	padding: 15px 25px;
 }
 
 .summary-row {
 	display: flex;
 	justify-content: space-between;
 	margin-bottom: 4px;
 }
 
 .sum-row {
 	margin-top: 15px;
 	font-weight: bold;
 }
 
 
 
 
  /*******************************************************************************
 * 장바구니 비어있을때 
 ******************************************************************************/
 .empryList-div {
 	/* background-color: aqua; */
 	margin: 0 auto;
 	height: 300px;
 	text-align: center;
 	
 	font-size: 30px;
 	font-weight: bold;
 	padding-top: 170px;
 	
 }
 
 .empryList-div i {
 	font-size: 80px;
 	color: #cdcdcd;
 	margin-bottom: 10px;
 }
 
 
 /*******************************************************************************
  * 수량 변경 모달
  ******************************************************************************/
 .modal {
 	padding-top: 100px;
 	font-size: 15px!important;
 }
 
 
 .modal-header,.modal-footer {
 	border: 0!important;
 	
 	padding-top: 0!important;
 	padding-bottom: 0!important;
 }
 
 .modal-footer {
 	padding: 0 6px!important;
 	margin-top: 15px;
 }
 .modal-content {
 	padding: 30px;
 }
 
 .modal-title {
 	font-size: 20px;
 }
 
 .modal-close-btn {
 	width: 18px;
 	position: relative;
 	top: 10px;
 	
 }
 
.modal-body-top {
	display: flex;
}

.modal-body-top-right {
	margin-left: 18px;
	position: relative;
}

 .modal-body-bottom {
 	display: flex;
 	justify-content: space-between;
 	align-items: center!important;
 }
 
 .modal-body-middel {
 	margin: 30px 0;
 	display: flex;
 	justify-content: space-between;
 	align-content: center;
 	
 	/* background-color: aqua; */
 }
 
 .pname-div {
 	font-size: 18px;
 }
 
 .pcategory-div {
 	margin-top: 5px;
 }
 
 .pprice-div {
 	font-weight: bold;
 	position: absolute;
 	bottom: 0;
 }
 
 .sumcnt-div {
 	color: gray;
 }
 
 .sumprice-div {
 	font-size: 22px;
 	font-weight: bold;
 }
 
 .optiongroup-div {
 	background-color: var(--bg-gray);
 	padding: 14px;
 }
 
 .qtyChange-div {
 	display: flex;
 	align-items: center;
 }
 
#amount input:focus { 
	outline: none; 
}

#amount {
	width: 40px;
	text-align: center;
	border: 0;
}

.qtyChange-div input[type='button'] {
	border: 0;
	color: gray;
	width: 25px;
	height: 25px;
	background-color: #f7f7f7;
}

.sumprice-div input {
	border: 0;
	text-align: right;
	font-weight: bold;
}