@charset "UTF-8";

/***************************************************************
 * 굿즈 파일 공통 
 ***************************************************************/
body {
	background-color: white!important;
}
 
 .goods-container {
	/* height: 1450px; */
	margin: 0 auto!important;
	text-align: center;
	/* padding-bottom: 80px; */
	display: block;
	font-size: 17px;
 }
 
 #pagebar {
 	clear: both;
 	/* padding-top: 50px; */
 	/* padding-bottom: 50px; */
 	margin-top: 230px;
 	margin-bottom: 120px;
 
 }

/***************************************************************
 * goodsList.jsp (상품 목록 페이지)
 ***************************************************************/
 .top-text-div {
 	padding-left: 117px;	
 }
 
 #goods-list-div {
 	height: 100%;
 	width: 1400px;
 	margin: 0 auto!important;
 	
 	/* background-color: aqua; */
 }
 
 #goods-banner-img {
 	margin: 80px auto 20px auto;
 	width: 360px;
 }
 
 #goods-sort-ul {
 	float: left;
 	/* padding-left: 60px; */
 }
 
  #goods-sort-ul li {
  	display: inline-block;
  	border-right: 1px solid gray;
  	padding-right: 6px;
  	margin: 50px left;
  }
  
  #goods-sort-ul li:last-child {
  	border: none;
  }
  
  #title_text {
  	/* padding-left: 60px; */
  	font-size: 30px;
  	font-weight: bold;
  	text-align: left;
  	margin: 40px 0;
  }
  
  .card {
  	/* width: 25%!important; */
	float: left;
  	margin-left: 5px;
  	text-align: center;
  	cursor: pointer;
  	border: 0!important;
  	margin-bottom: 50px;
  }
  
 .card-list {
 	width: 100%;
 	text-align: center;
 	padding: 0 110px 130px 110px;
	margin: 0 auto!important;
	text-align: center!important;
	/* background-color: pink; */
	
	/* padding-bottom: 100px!important; */
 }
 
 .card-text {
 	text-align: left;
 }
 
 .img-div img {
 	width: 250px;
 	height: auto;
 	vertical-align: middle;
 }
 
 .img-div {
 	width: 285px;
 	height: 265px;
 	line-height: 265px;
 	background-color: #f6f6f6;
 	position: relative;

 }
 
 .img-div:after{
 	display:inline-block; 
 	height:100%; 
 	content:""; 
 	vertical-align:middle;
 }
 
 .card-body {
 	padding: 0!important;
 	margin-top: 21px;
 	
 }
 
 .middle-text {
 	margin-top: 10px;
 	margin-bottom: 20px;
 	color: #585858;
 	font-size: 20px;
 }
 
 .top-text {
 	font-size: 14px;
 	font-weight: bold;
 }
 
 .bottom-text {
 	font-size: 20px;
 }
 
 .iconBg-div {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	background: white;
	opacity: 0.85;
	border-radius: 50%;
	text-align: center;
	display: flex;
	align-items: center!important;
	justify-content: center;
	
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding-top: 4px;
	
}

.iconBg-div i {
	font-size: 23px;
	width: 30px;
	color: #e5e5e5;
	cursor: pointer;
}
 
 
 
 
 