@charset "UTF-8";

/***************************************************************
 * 굿즈 파일 공통 
 ***************************************************************/
.goods-container {
	height: 600px;
	margin: 0 auto!important;
	text-align: center;
}

/***************************************************************
 * goodsList.jsp (상품 목록 페이지)
 ***************************************************************/
 #goods-banner-img {
 	margin: 80px auto 30px auto;
 }
 
 
 