@charset "UTF-8";

#orderDetail-container {
    padding-top: 60px;
    padding-bottom: 150px;
    width: 70%;
    margin: 0 auto;
}

.title-text {
	font-size: 20px;
    font-weight: 555;
    margin-bottom: 20px;
}

.status-text {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#middle-container {
	margin-top: 80px;
	margin-bottom: 80px;
}

#bottom-container {
	display: flex;
}

.img-bg {
	background-color: #F6F6F6;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 140px;
	height: 120px;
	margin-right : 15px;
}

.img-bg img {
	width: 105px;
	/* background-color: aqua; */
}

.order-item {
	margin-bottom: 22px;
}

.moveGoodsDetail {
	cursor: pointer;
}

.delivery-btn-div a {
	color: #7a7a7a;
    
} 

.delivery-btn-div {
    padding: 10px;
    width: 80px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
}





