<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
	
	<select id="selectGoodsList" resultType="goods">
		select 
			* 
		from 
			goods
		order by
			p_id desc
	</select>
	
	<select id="selectGoodsTotalCount" resultType="_int">
		select 
			count(*) 
		from 
			goods
	</select>
	
	<select id="selectOptionId" resultMap="optionList">
		select
			*
		from 
			goods_option
		where
			p_id = #{pId}
	</select>
	
	<resultMap type="java.lang.Integer" id="optionList">
		<result property ="optionId" column = "option_id"/>
	</resultMap>
	
	<select id="selectOptionList" resultType="optionDetail">
		select
			*
		from 
			option_detail
		where option_id = #{option}
	</select>
	
	<select id="selectOneGoods" resultType="goods">
		select
			*
		from
			goods
		where
			p_id = #{pid}
	</select>
</mapper>