@charset "UTF-8";

.chat_body {
	padding: 20px;
	background-color: #e5e5e5 !important;
}

.chat_container {
	width: 470px;
	height: 570px;
	overflow-y: scroll;
	flex-direction:column_reverse;
	white-space: nowrap;
	padding-right: 5px;
}

.layout {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    min-width: 0;
}
.ma-0 {
    margin: 0 0 !important;
}

.v-toolbar[data-booted="true"] {
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme--light.v-toolbar {
    background-color: #f5f5f5;
    color: rgba(0,0,0,0.87);
}
.v-toolbar {
    transition: none;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    position: relative;
    width: 100%;
    will-change: padding-left, padding-right;
}

.v-toolbar__content, .v-toolbar__extension {
    padding: 0 16px;
}
.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    padding: 0 24px;
}

.v-toolbar__content > *:first-child, .v-toolbar__extension > *:first-child {
    margin-left: 0;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.layout {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    min-width: 0;
}

.toolbar-title[data-v-994dabf8] {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.text-xs-center {
    text-align: center !important;
}

.online[data-v-994dabf8] {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    background-color: #33fa4a;
    margin-right: 5px;
}

.toolbar-comment[data-v-994dabf8] {
    color: #fff;
    font-size: 12px;
}

.text-xs-center {
    text-align: center !important;
}

.v-icon.v-icon.v-icon--link {
    cursor: pointer;
}

.theme--light .v-icon {
    color: inherit;
}
.stroke[data-v-994dabf8] {
    -webkit-text-stroke: 1px silver;
    -webkit-text-fill-color: #fff;
}
.v-toolbar__content > *:last-child, .v-toolbar__extension > *:last-child {
    margin-right: 0;
}
.theme--light.v-icon {
    color: rgba(0,0,0,0.54);
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: Font Awesome\ 5 Free;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.v-icon {
    align-items: center;
    display: inline-flex;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    font-size: 24px;
    justify-content: center;
    line-height: 1;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    vertical-align: text-bottom;
}
i {
    font-family: 'twc';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
}

.title_wrap {
	margin-bottom: 20px;
}

.input_wrap {
	margin-top: 20px;
}