@charset "UTF-8";

html {
    overflow-y: visible;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
}

body, th, td, input, select, textarea, button {
    font-family: 'Noto Sans KR';
    font-size: 100%;
    line-height: 1.15;
    color: #222222;
}

body {
    line-height: 1;
    font-size: 0.75em;
    background: #212121;
}

/* header.jsp 시작 */

#siwffIndex {
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

a {
    color: #212121;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none !important;
}

.menu_drop:hover {
	color: #212121;
	font-weight: bold;
}

#wrap {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.logo:hover {
	cursor: pointer;
}

.logo_img {
	width: 150px;
	margin-left: 45px;
}

.hd_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 650px;
    border-color: rgb(43, 63, 107);
    background: rgb(43, 63, 107);
    z-index: -1;
}

.bg_black {
    display: none;
}

#hd {
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 99;
    transition: 0.15s all linear;
    -webkit-transition: 0.15s all linear;
}

.container-l {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.container-visual {
	background: url("https://i.imgur.com/AMLClHM.jpg");
	display: flow-root;
	background-repeat: repeat;
}

#hd .util {
    position: relative;
    padding: 0;
    text-align: right;
}

#hd .util li a {
    display: block;
    padding: 10px 3px;
    color: #fff;
    font-size: 13px;
}

dl, ul, ol, menu, li {
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0 !important;
}

#menu {
	height:50px;
	color:black;
	line-height: 50px; 
	margin:0 auto;
	text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
	float:left;
	width:140px;
	position:relative;
}
	
#menu > ul > li > ul {
	width:130px;
	display:none;
	position: absolute;
	font-size:14px;
	border: 1px solid black;
	background: #fff;
}
	
#menu > ul > li:hover > ul {
	display:block;
}
	
#menu > ul > li > ul > li:hover {
	transition: ease 1s;
}
			
/* 로고 */

#hd .logo {
    display: inline-block;
    padding: 0;
}

#hd .logo a {
    display: inline-block;
    width: 158px;
    height: 80px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(/kor/img/cmm/logo.png) no-repeat 50% 50%;
}

.f_r {
    float: right;
}

#hd .logo, #hd .gnb, #hd .hd_quick {
    float: left;
}

.gnb {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.gnb nav {
    position: relative;
    padding: 0 30px;
}

.gnb nav > .depth1 {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.list-inline {
    list-style: none;
}

.gnb nav > .depth1 > li > a {
    display: inline-block;
    font-size: 16px;
    margin: 15px 0;
    line-height: 50px;
    color: #fff;
}

.nav_depth2_wrap {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px 0;
    margin: 0 auto;
    display: none;
}

.nav_depth2_wrap h2 {
    display: inline-block;
    float: left;
    width: 15%;
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #5bc1c6;
    text-align: left;
}

.gnb nav .depth2 {
    float: right;
    width: 85%;
    padding-left: 50px;
    margin: 0;
    border-left: 1px solid #e0e0e0;
}

.gnb nav .depth2 > li {
    float: left;
    display: table;
    width: 33.333333%;
    text-align: left;
    margin: 0;
    padding: 0;
}

.gnb nav > .depth1 > li {
    padding: 0 15px;
    text-align: center;
}

header {
	display: inline-block;
	width: 100%;
}

.btn-link {
    display: block !important;
    padding: 10px 3px !important;
    color: #fff !important;
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px !important;
    text-decoration: none;
}

.btn-link:hover {
	color: white !important;
	text-decoration: none !important;
}

.hd {
	display: flow-root;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: rgb(43, 63, 107) !important;
    border-color: rgb(43, 63, 107) !important;
}

.page-link {
    color: #212121 !important;
}

.page-link:hover {
    color: #212121 !important;
}

.notify_li {
	cursor: pointer;
}

.text-number {
    background-color: #c10000;
    border-radius: 35px;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: 5px;
    color: white;
    padding: 1px;
    font-family: 'Montserrat';
    position: absolute;
    z-index: 999;

}
.bi {
    color: white;
    margin-top: 10px;
    margin-left: -13px;
}

.count-con {
	display: flex;
    align-items: center;
    flex-direction: row;
}

/* header.jsp 끝 */

::selection {
    background: rgb(43, 63, 107);
    color: #FFF;
    text-shadow: none;
}