@charset "UTF-8";

.brd_card_list {
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
}

.brd_card_list:before, .brd_card_list:after {
    content: '';
    clear: both;
    display: block;
}

.brd_card_list .card_li {
    position: relative;
    width: 350px;
    padding: 5px 5px;
    float: left;
}

.brd_card_list .card_li .card_box {
    position: relative;
    width: 100%;
    display: block;
    background: #fff;
    padding: 20px 25px;
    border: 1px solid #e0e0e0;
    height: 300px;
    transform: scale(1);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 5%);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.brd_card_list .card_li:hover .card_box {
    border-color: #45a7b9;
    background: linear-gradient(#45a7b9, #45a7b9);
    color: white !important;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d33ab', endColorstr='#533595');
    box-shadow: 1px 1px 10px rgb(0 13 57 / 30%);
    -webkit-box-shadow: 1px 1px 10px rgb(0 13 57 / 30%);
    transform: scale(1.01);
}

.brd_card_list .card_li:hover .card_box .tit, .brd_card_list .card_li:hover .card_box .desc {
    color: #fff;
}

.brd_card_list .card_li:hover .card_box .press {
    color: #ec7b65;
    border-color: #ec7b65;
}

.brd_card_list .card_li .card_box .press {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 5px;
    border: 1px solid #5ddae7;
    color: #29b1bf;
    margin-bottom: 10px;
}

.brd_card_list .card_li .card_box .txt_box {
    max-height: 190px;
    overflow: hidden;
    display: block;
}

.brd_card_list .card_li .card_box .tit {
    font-size: 20px;
    line-height: 160%;
    color: #222;
    letter-spacing: 0px;
}

.brd_card_list .card_li .card_box .desc {
    font-size: 15px;
    line-height: 160%;
    color: #888;
    letter-spacing: -0.5px;
    margin-top: 10px;
    height: 68px;
    overflow: hidden;
}
.cont_sub .desc, .cont_sub .desc p, .cont_sub .desc strong, .cont_sub .desc a, .cont_sub .desc span {
    font-size: 16px;
    line-height: 170%;
    color: #555;
    font-weight: 300;
}

.desc {
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    letter-spacing: -0.5px;
}
.ellipsis-multiline {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    -webkit-line-clamp: 3;
}

.brd_card_list .card_li .card_box .date {
    display: block;
    position: absolute;
    left: 25px;
    bottom: 20px;
    padding-top: 15px;
    font-size: 14px;
    color: #888;
    letter-spacing: 0px;
    font-family: 'Lato', sans-serif;
}

.brd_card_list .card_li .card_box .ico_link {
    display: none;
}



