@charset "UTF-8";

.hd {
	background-color: black;
	height: 54px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 30px;
    width: 195vh;
}

.seller-navbar .nav-pull-right {
    float: right;
    max-height: 55px;
    margin: 0 25px 0 0;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.seller-navbar .nav-pull-right>li {
    float: left;
    margin-right: 0;
    font-size: 12px;
}

.nav>li, .nav>li>a {
    position: relative;
    display: block;
}

.seller-navbar.navbar-inverse .navbar-nav>li a {
    color: #fff;
}

.seller-navbar .nav-pull-right>li a {
    padding: 18px 10px 18px 0;
    line-height: 1.5;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #9ea1a8;
}

.navbar-nav>li>a {
/*     padding-top: 17.5px; */
/*     padding-bottom: 17.5px; */
}
.navbar-nav>li>a {
/*     padding-top: 10px; */
/*     padding-bottom: 10px; */
    line-height: 20px;
}

.nav>li, .nav>li>a {
    position: relative;
    display: block;
}

.my-info {
    display: inline-block;
    margin-left: 4px;
    padding: 0 7px;
    border-radius: 20px;
    border: 1px solid #dedede;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    font-family: 'Montserrat';
    margin-right: 5px;
}

.seller-navbar.navbar-inverse .navbar-nav>li a {
    color: #fff;
}
.seller-navbar .nav-pull-right>li a {
    padding: 18px 10px 18px 0;
    line-height: 1.5;
}

.seller-navbar .nav-pull-right>li {
    float: left;
    margin-right: 0;
    font-size: 12px;
}

.navbar-nav>li {
    float: left;
    height: 54px;
    display: flex;
    align-items: center;
}

.logout_li {
	width: 150px;
    font-size: 12px;
}

.nav-pull-right {
    height: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    overflow: hidden;
}

.logout_btn {
    background-color: black;
    border: 0;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.notify_li {
	cursor: pointer;
}

.text-number {
    background-color: #ec7b65 !important;
    border-radius: 35px;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: 5px;
    color: white;
    padding: 1px;
    font-family: 'Montserrat';
    position: absolute;
    z-index: 999;
    margin-bottom: 6px;
    margin-left: 11px;

}
.bi {
    color: white !important;
/*     margin-top: 8px; */
}

.count-con {
	display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 11px;
}