@charset "UTF-8";

.search_wrap {
    /* background: #fff; */
    width: 100%;
    height: 100%;
    padding: 60px 0;
    text-align: center;
}

.hide {
    display: none;
}

.movieserach_wrap .inp_search_wrap {
    position: relative;
    background: #f5f5f5;
    display: inline-block;
    width: 330px;
    padding: 10px;
    z-index: 10;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.search_wrap .inp_search_wrap {
    position: relative;
    background: #f5f5f5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    padding: 0 30px;
}

.movieserach_wrap .inp_search_wrap .inp_search {
    float: left;
    border: 0;
    background: #f5f5f5;
    font-size: 18px;
    line-height: 30px;
    padding: 0 10px;
    width: 80%;
}

.search_wrap .inp_search {
    float: left;
    width: 88%;
    padding: 20px 30px 20px 20px;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 40px;
    border: none;
    background: none;
}

input, select, textarea, button {
    vertical-align: middle;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

.wview {
    display: block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.cont {
    /* max-width: 1000px; */
    margin: 0 200px;
    height: 1000px;
}

#tbl-board {
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: center;
    margin: auto;
}

.table {
    width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255 255 255 / 5%);
}

.brd_li {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.brd_li :first-child {
    position: relative;
    width: calc(100% - 150px);
    float: left;
    display: inline-block;
    white-space: nowrap;
    line-height: 40px;
    overflow: hidden;
    font-size: 21px;
    text-overflow: ellipsis;
    max-width: 90%;
    letter-spacing: -0.8px;
    border-top: 0px solid #dee2e6;
    padding: 0.75rem 0.75rem 0.75rem 2.75rem;
    text-align: left;
    vertical-align: top;
}

.brd_li :last-child {
    font-size: 18px;
    margin-top: 2px;
    float: right;
    line-height: 40px;
    border-top: 0px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
    color: #222222;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255 255 255 / 5%);
}

.pagenation {
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato','돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;
    width: 100%;
}
.justify-content-center {
    justify-content: center!important;
}

dl, ul, ol, menu, li {
    list-style: none;
}
