@charset "UTF-8";

*{
   margin:0;
   padding:0;
 }
ul,li {
   list-style:none;
}
#slide {
   height: auto;
   position:relative;
  
}
#slide ul {
   width:400%;
   height:1000px;
   transition:1s;
}
#slide ul:after {
   content:"";
   display:block;
   clear:both;
}
#slide li {
   float:left;
   width:25%;
   height:100%;
}
#slide li:nth-child(1) {
   
    background-repeat: no-repeat;
    background-size: cover;
  }
  #slide li:nth-child(2) {
     
    background-repeat: no-repeat;
    background-size: cover;
  }
#slide li:nth-child(3) {
   
   background-repeat: no-repeat; 
   background-size: cover;
}
#slide li:nth-child(4) {
    
   background-repeat: no-repeat; 
   background-size: cover;
}
#slide input {
   display:none;
}
#slide label {
   display:inline-block;
   vertical-align:middle;
   width:25px;
   height:25px;
   border:2px solid #34495e;
   background:#c3c3c3;
   transition:0.3s;
   border-radius:50%;
   cursor:pointer;
}
#slide .pos {
   text-align:center;
   position:absolute;
   bottom:20px;
   left:0;
   width:100%;
   text-align:center;
}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#34495e;}
#pos2:checked~.pos>label:nth-child(2){background:#34495e;}
#pos3:checked~.pos>label:nth-child(3){background:#34495e;}
#pos4:checked~.pos>label:nth-child(4){background:#34495e;}
  





.film_info {
    padding: 50px 0;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

.film_info .film_info_top {
    text-align: center;
    margin-bottom: 20px;
}

.film_info .director_name {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.film_info_top span {
	font-size: 20px;
}

.film_info .list_film_info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.film_info .list_film_info li {
    position: relative;
    padding: 0 20px;
    color: #888;
    font-size: 16px;
    line-height: 170%;
    list-style: none;
}
.film_info .keyword {
    margin: 20px 0;
}
.film_info .premiere {
    border: 1px solid #8b9197;
    color: #546677;
    font-size: 14px;
    padding: 2px 6px;
    margin: 0 5px;
}
.film_info .keyword span.nopz {
    padding: 0;
    border: none;
    margin: 0px;
}

.film_info .synopsis, .film_info .pg_note {
    position: relative;
    margin: 15px 0;
}

.film_info .synopsis h4, .film_info .pg_note h4 {
    font-size: 33px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 20px;
    margin-top: 30px;
}
.cont_sub .desc, .cont_sub .desc p, .cont_sub .desc strong, .cont_sub .desc a, .cont_sub .desc span {
    font-size: 16px;
    line-height: 170%;
    color: #555;
    font-weight: 300;
}
.btn_play_trailer img {
	max-width: 100%;
    vertical-align: middle;
    bottom: 25px;
    right: 25px;
}

.btn_play_trailer {
    display: block;
    position: absolute;
    bottom: 33px;
    right: 50px;
    background-color: #34495e;
    border-color: #34495e;
    width: 60px;
    height: 60px;
}



.modal-dialog {
      max-width: 1190px;
      margin: 185px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}




.tit_movie {
    font-size: 60px;
    line-height: 130%;
    text-align: center;
    color: white;
    position: relative;
    top: 743px;
}

.tit_movie span {
    display: block;
    font-size: 28px;
    line-height: 110%;
}

.desc_ {
	font-size: 22px;
    line-height: 1.7;
    color: #444;
    letter-spacing: -0.5px;
}


스케줄
.schedule {
    position: relative;
    padding: 50px 0 70px;
}

.schedule h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.tbl_schedule2 {
    border-top: 2px solid #111;
    border-left-width: 0;
    border-right-width: 1px;
}

.wid100 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.tbl_schedule2 > tbody > tr > td.theater {
    text-align: left;
}

.tbl_schedule2 > tbody > tr > td, .tbl_schedule2 > tbody > tr > th, .tbl_schedule2 > tbody > tr > td {
    padding: 19px 18px;
    line-height: 1.5;
    font-size: 22px;
    font-weight: 100;
    border-bottom: 1px solid #ddd;
    vertical-align: top !important;
}

.tbl_schedule2 > thead > tr > th {
	display: none;
	padding: 15px 18px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    vertical-align: top !important;
}

.container_ {
	position: relative;
    margin: 0 auto;
    width: 1280px;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
	
}

.tbl_schedule2 > tbody > tr > td.code .code_wrap {
    font-size: 12px;
    line-height: 1.5;
    color: #3f538d;
    background: #eef2ff;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
}

.row {
	margin-right: -15px;
    margin-left: -15px;
}

.col-sm-12 {
    width: 100%;
}

.director, .credit {
    position: relative;
    padding: 50px 0 70px;
}

.director h4, .credit h4 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 40px;
}

.director_list {
    position: relative;
    list-style: none;
}

.director_list li:last-child {
    margin-bottom: 0;
}

.director_list li {
    position: relative;
    margin-bottom: 40px;
    list-style: none;
}

.col-sm-3 {
    width: 25%;
    float: left;
    margin-bottom: 40px;
}

.director_list li .dir_img {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #f5f5f5;
}

.col-sm-9 {
    width: 75%;
    float: left;
}

.director_list li .dir_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 150px;
    max-width: 100%;
    vertical-align: middle;
    border: 0 none;
}

.director_list li .dir_info .dir_name {
    font-size: 22px;
    margin-bottom: 15px;
}

.director_list li .dir_info .dir_name .kor {
    position: relative;
    display: inline-block;
    padding-right: 13px;
    color: #34495e;
    font-weight: bolder;
}

.director_list li .dir_info .dir_name .en {
    padding-left: 13px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0 !important;
}
.mt10 {
    margin-top: 10px;
}

.director_list li .dir_info .desc {
    display: block;
    font-size: 15px;
    text-align: justify;
    color: #555;
    letter-spacing: -0.5px;
    word-break: break-all;
    font-weight: 300;
    line-height: 170%;
}

.director_list li .dir_info .desc p {
    font-size: 16px;
    line-height: 170%;
    color: #555;
    font-weight: 300;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: -0.5px;
}

.director_list li .dir_info .desc p span {
	font-size: 20px;
    letter-spacing: -0.5px;
    word-break: break-all;
    line-height: 170%;
    color: #555;
    font-weight: 300;
}

.col-sm-12 {
    width: 100%;
    float: left;
}

.credit {
    border-top: 1px solid #e0e0e0;
    position: relative;
    padding: 50px 0 190px;
}

.credit ul {
    width: 80%;
    margin: 0 auto;
}

.credit ul {
    display: table;
    width: 100%;
    padding: 0px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.credit ul li {
    display: table-row;
    margin: 3px 0;
    background: #fff;
    list-style: none;
}

.credit ul li strong {
    width: 30%;
    color: #666;
    border-right: 1px solid #e0e0e0;
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0 !important;
    font-weight: bolder;
}

.credit ul li strong, .credit ul li span {
    display: table-cell;
    padding: 33px 20px;
    font-size: 22px;
    line-height: 160%;
    border-bottom: 1px solid #e0e0e0;
}

.credit ul li span {
    width: 64%;
    color: #34495e;
    font-weight: bold;
    vertical-align: top;
}








