@charset "UTF-8";

.join {
    margin-top: 90px;
    padding-bottom: 120px;
	background-color: rgb(52, 73, 94);
}

.join .top_txt_box p {
    color: #fff;
    color: rgba(255,255,255,.7);
    font-size: 16px;
    line-height: 160%;
    font-weight: 300;
}

.join .top_txt_box {
    padding: 20px 0;
    text-align: center;
}

.tit_sec {
    display: block;
    color: #4d3494;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 15px;
}

.txt-center {
    text-align: center !important;
}



.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

.row:before, .row:after, .container:before, .container:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .pull-right:before, .pull-right:after, .pull-left:before, .pull-left:after, .inner:before, .inner:after {
    display: table;
    content: " ";
    clear: both;
}
:after, :before {
    box-sizing: border-box;
}

.cont_sub .tit_sec {
    display: block;
    color: #4d3494;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 15px;
}
.txt-white {
    color: #fff !important;
}
.txt-center {
    text-align: center !important;
}

.list-inline {
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.join_con {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 40px 50px;
    margin-top: 20px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    box-shadow: 0 0px 15px rgb(20 0 77 / 20%);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

input, select, textarea, button {
    vertical-align: middle;
}

.col-md-6 {
    width: 50%;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-xs-2, .col-sm-2, .col-md-2, .col-xs-3, .col-sm-3, .col-md-3, .col-xs-4, .col-sm-4, .col-md-4, .col-xs-5, .col-sm-5, .col-md-5, .col-xs-6, .col-sm-6, .col-md-6, .col-xs-7, .col-sm-7, .col-md-7, .col-xs-8, .col-sm-8, .col-md-8, .col-xs-9, .col-sm-9, .col-md-9, .col-xs-10, .col-sm-10, .col-md-10, .col-xs-11, .col-sm-11, .col-md-11, .col-xs-12, .col-sm-12, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.form_group_wrap {
    margin-bottom: 20px;
}

label {
    cursor: text;
}

.form_group.wid100 {
    display: block;
}
.form_group {
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    background-color: #F6F6F6;
    box-shadow: 0 0 1px rgb(0 0 0 / 4%);
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    -webkit-transition: box-shadow 0.2s ease, border-color 0.2s ease;
    font-size: 0;
    box-sizing: border-box;
}
.form_group {
    display: inline-block;
    box-sizing: border-box;
}
.wid100 {
    width: 100%;
}

.form_group .d_tbl {
    display: table;
    width: 100%;
}

.form_group .d_tbl .form_txt {
    display: table-cell;
    table-layout: fixed;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}

.form_group .form_txt input[type='text'], .form_group .form_txt input[type='password'], .form_group .form_txt input[type='tel'] {
    padding: 18px 20px;
}
.form_group.wid100 .form_txt input {
    width: 100%;
}
.form_group .form_txt input {
    background-color: #f6f6f6;
}
.form_group .form_txt input {
    height: 45px;
    font-size: 15px;
    border: none;
}

.col-md-6 {
    width: 50%;
}
.col-xs-12 {
    width: 100%;
}

.form_group_wrap {
    margin-bottom: 20px;
}

.form_group .d_tbl {
    display: table;
    width: 100%;
}

.form_group .d_tbl .form_txt {
    display: table-cell;
    table-layout: fixed;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}

.form_group .form_txt input[type='text'], .form_group .form_txt input[type='password'], .form_group .form_txt input[type='tel'] {
    padding: 18px 20px;
}
.form_group.wid100 .form_txt input {
    width: 100%;
}
.form_group .form_txt input {
    background-color: #f6f6f6;
}

.cont_member .btn.btn-s {
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.5px;
}
.cont_member .btn {
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgb(91 66 163 / 20%);
}
.btn-s {
    font-size: 13px;
    line-height: 1.3;
    padding: 5px 10px;
}
.btn {
    display: inline-block;
/*     padding: 6px 12px; */
/*     font-size: 14px; */
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
}

.form_group_wrap label.need:after {
    content: '*';
    margin: 0 5px;
    display: inline-block;
    color: #7457c7;
    vertical-align: middle;
}

.form_group .d_tbl {
    display: table;
    width: 100%;
}

.txt-white {
    color: #fff !important;
}

.mt30 {
    margin-top: 30px;
    display: block;
}

.cont_member .btn.btn-m {
    padding: 20px 30px;
    min-width: 200px;
}
.cont_member .btn {
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgb(91 66 163 / 20%);
}
.btn-m {
    font-size: 14px;
    line-height: 1.4;
    padding: 15px 20px;
}

.cont_member .btn.btn-primary {
    border: 1px solid #4d3494;
    color: #fff;
    background-color: #4d3494;
    background-image: linear-gradient(
-135deg, #4d3494 0%, #5b42a3 100%);
    background-image: -webkit-linear-gradient(
-135deg, #4d3494 0%, #5b42a3 100%);
    box-shadow: 0 0 6px rgb(20 0 77 / 20%);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.cont_member .btn.btn-m {
    padding: 20px 30px;
    min-width: 200px;
}

.cont_member .btn {
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgb(91 66 163 / 20%);
}

.btn.btn-primary {
    border: 1px solid rgb(52, 73, 94);
    color: #fff;
    background-color: rgb(52, 73, 94);
    background-image: linear-gradient(
-135deg, rgb(52, 73, 94) 0%, rgb(52, 73, 94) 100%);
    background-image: -webkit-linear-gradient(
-135deg, rgb(52, 73, 94) 0%, rgb(52, 73, 94) 100%);
    box-shadow: 0 0 3px rgb(20 0 77 / 20%);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.cont_member .btn.btn-m {
    padding: 20px 30px;
    min-width: 200px;
}

.cont_member .btn.btn-s {
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.5px;
}
.cont_member .btn:hover {
    box-shadow: 0 0 6px rgb(91 66 163 / 30%);
}

.cont_member .btn {
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgb(91 66 163 / 20%);
}
a:hover, a:focus {
    color: #555;
}
a:active, a:hover {
    text-decoration: none;
    outline-width: 0;
}

/* 중복아이디체크관련 */
div#memberId-container { position:relative; padding:0px; }
span.guide { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.ok { color:green; }
span.error { color:red; }
span.guide1 { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.ok1 { color:green; }
span.error1 { color:red; }
span.guide2 { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.ok2 { color:green; }
span.error2 { color:red; }
span.error3 { color:red; }

/* 가입 완료 페이지 */
.title {
	margin-bottom: 32px;
	color: black;
	width: 100%;
	font-size: 50px;
	text-align: center;
}

.subTitle {
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

.join_complete_wrap {
	position: relative;
    width: 900px;
    min-width: 370px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255);
    padding: 50px 30px 50px 30px;
    text-align: center;
    height: 500px;
}

.homeBtn {
	width: 100%;
	text-align: center;
	margin: 70px 0 0 0;
}

.goHome {
	color: rgb(94, 94, 94);
	font-weight: bolder;
}

.notice {
	text-align: center;
	background-color: white;
	padding: 10px 0 10px 0;
}

.findId {
	color: #538797;
	font-weight: bolder;
}

.findBtn {
	background: none;
	border: 0;
	cursor: pointer;
}

.findBtn:hover {
	font-weight: bolder;
}

.findWrap {
	margin-left: 30px;
}

.content_wrap {
	padding: 25px 0 140px;
	min-height: 787px;
	box-sizing: border-box;
}

.point {
	font-size: 35px;
	color: rgb(26, 188, 156);
	font-weight: bold;
}

.info1 {
	margin: 60px 0 40px 0;
    font-size: 18px;
}

.info2 {
	font-size: 18px;
	font-weight: bold;
	color: rgb(52, 73, 94);
}

.homeBtn {
	font-size: 18px;
}

.goHome:hover {
	color: rgb(94, 94, 94);
}

.speechBubble {
	margin-top: 50px;
	line-height: initial;
}
