<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

<select id="selectMemberList" resultMap="memberMap">
	select
	    *
	from
	    member m left join authorities a
	        on m.id = a.member_id
	order by
		reg_date desc
</select>

	<resultMap type="member" id="memberMap">
		<id column="id" property="id"/>
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="gender" property="gender" />
		<result column="email" property="email" />
		<result column="birthday" property="birthday" />
		<result column="address" property="address" />
		<result column="nickname" property="nickname" />
		<result column="reg_date" property="regDate" />
		<result column="point" property="point" />
		<result column="enabled" property="enabled" />
		
		<collection 
			property="authorities" 
			ofType="org.springframework.security.core.authority.SimpleGrantedAuthority">
			<constructor>	
				<arg column="authority" javaType="string"/>
			</constructor>		
		</collection>
 	</resultMap>
 	
	<select id="selectMemberTotalCount" resultType="_int">
		select 
			count(*) 
		from 
			member
	</select>
	
<select id="selectGoodsList" resultType="goods">
	select
		*
	from
		goods
	order by
		p_enroll desc
</select>

	<insert id="insertGoods" parameterType="goods">
		insert into
			goods
		values(
			seq_goods_id.nextval,
			#{pName},
			#{pPrice},
			#{pInfo},
			#{pImg},
			#{pCategory},
			default
		)
	</insert>
	
	<insert id="insertAttachment">
		insert into
			attachment(no, board_no, original_filename, renamed_filename)
		values(
			seq_ticket_sharing_attachment_attach_no.nextval,
			#{boardNo},
			#{originalFilename},
			#{renamedFilename}
		)		
	</insert>
	
	<delete id="deleteGoods">
		delete from
			goods
		where
			p_id = #{pId}
	</delete>

</mapper>