<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember" parameterType="member">   <!-- parameterType 생략해도 됨 -->
		insert into
			member
		values(
			#{id},
			#{password},
			#{name},
			#{phone},
			#{email},
			#{birthday},
			#{address},
			#{nickname},
			default,
			1000,
			default
		)
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			member
		where
			id=#{id}
	</select>
	
	<select id="selectOneNickname" resultType="member">
		select
			*
		from
			member
		where
			nickname=#{nickname}
	</select>
	
	<select id="selectOneEmail" resultType="member">
		select
			*
		from
			member
		where
			email=#{email}
	</select>
	
	<update id="updateMember">
		update
			member
		<set>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="address != null and address != '' and address.equals(',')">
				address = #{address},
			</if>
			<if test="nickname != null and nickname != ''">
				nickname = #{nickname},
			</if>
 		</set>
		where
			id = #{id}
	</update>

	<select id="selectBoardListByMemberId" resultType="board">
		select
    		b.*,
			(select count(*) from attachment where board_no = b.no) attach_count 
		from
			ticket_sharing_board b
		where
			member_id = #{id}
		order by
   			no desc 
	</select>

	<select id="selectBoardTotalCount" resultType="_int">
		select
			count(*)
		from
			ticket_sharing_board
	</select>
	
 	<select id="selectMemberList" resultType="member">
	  	select
	  		*
	  	from
	  		member
	  	<where>
	  		<if test="gender != null and gender != ''">
	  			gender = #{gender}
	  		</if>
	  	</where>
	</select> 
	
	
</mapper>