<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember" parameterType="member">   <!-- parameterType 생략해도 됨 -->
		insert into
			member
		values(
			#{id},
			#{password},
			#{name},
			#{phone},
			#{email},
			#{birthday},
			#{address},
			#{nickname},
			default,
			1000,
			default
		)
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			member
		where
			id=#{id}
	</select>
	
	<select id="selectOneNickname" resultType="member">
		select
			*
		from
			member
		where
			nickname=#{nickname}
	</select>
	
	<select id="selectOneEmail" resultType="member">
		select
			*
		from
			member
		where
			email=#{email}
	</select>
	
	<update id="updateMember">
		update
			member
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="address != null and address != ''">
				address = #{address},
			</if>
			<if test="gender != null and gender != ''">
				gender = #{gender},
			</if>
			<if test="hobby != null and hobby != ''">
				hobby = #{hobby},
			</if>
		</set>
		where
			id = #{id}
	</update>


 	<select id="selectMemberList" resultType="member">
	  	select
	  		*
	  	from
	  		member
	  	<where>
	  		<if test="gender != null and gender != ''">
	  			gender = #{gender}
	  		</if>
	  	</where>
	</select> 

	
</mapper>