@charset "UTF-8";

.container_ {
	/* padding-right: 10rem;
    padding-left: 10rem; */
    padding-bottom: 32px;
}

.cont {
    max-width: 1000px;
    margin: auto;
}

input, select, textarea, button {
    vertical-align: middle;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.wz_write {
    position: relative;
    background: #fff;
    border: 1px solid #e8e8e8;
    width: 100%;
    padding: 50px 60px;
}

.wz_write .write_top {
    margin-bottom: 30px;
}
.chk-primary input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.chk-primary input[type=checkbox] + label {
    cursor: pointer;
    color: #444;
    font-size: 17px;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.chk-primary input[type=checkbox] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #ccc;
    vertical-align: middle;
    background: url(https://www.biff.kr/kor/img/cmm/ico_chk_member.png) no-repeat center center #ddd;
}

.wz_write .write_top .inp_tit_wrap {
    position: relative;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid #e0e0e0;
}

.wz_write .write_top .inp_tit_wrap .inp_tit {
    height: 40px;
    border: 0;
}

.wz_write .write_top .inp_tit_wrap .inp_tit {
    font-size: 38px;
    font-weight: 300;
    color: #666;
    letter-spacing: -1px;
    width: 100%;
}


dl, ul, ol, menu, li {
    list-style: none;
}
.info_question dt {
    width: 13%;
}
.info_question dt, .info_question dd {
    float: left;
}
.info_question .lab_info {
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
    cursor: text;
}

.info_question dd {
    width: 87%;
}

.info_question .inp_txt {
    font-size: 15px;
    line-height: 36px;
    border: 1px solid #ccc;
    padding: 0 15px;
}

.info_question {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    height: 70px;
}

/* .write_bd {
    border: 1px solid #e0e0e0;
    color: #888;
} */
textarea {
	font-family: 'Noto Sans KR';
    font-size: 130%;
    line-height: 1.15;
    color: #000000;
    resize: none;
    border-color: #afafaf;
    min-height: 289px;
}


.chk-primary input[type=checkbox]:checked + label span {
    background: url(https://www.biff.kr/kor/img/cmm/ico_chk_member.png) no-repeat center center #ce1e36;
    border-color: #ce1e36;
}

.btn-primary {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 0%);
}
