<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
<select id="selectBoardList" resultType="board">
	select
    	b.*,
		(select count(*) from attachment where market_no = b.no) attach_count 
	from
		ticket_sharing_board b
	order by
   		no desc 
</select>

<select id="selectBoardTotalCount" resultType="_int">
	select
		count(*)
	from
		ticket_sharing_board
</select>

<insert id="insertBoard" parameterType="board">
	insert into
		ticket_sharing_board(no, member_id, title, content, category)
	values(
		seq_ticket_sharing_board_no.nextval,
		#{memberId},
		#{title},
		#{content},
		#{category}
	)
	<selectKey keyProperty="no" resultType="_int" order="AFTER">
		select
			seq_ticket_sharing_board_no.currval
		from
			dual	
	</selectKey>
</insert>

<insert id="insertAttachment">
	insert into
		attachment(attach_no, market_no, original_filename, renamed_filename)
	values(
		seq_attachment_no.nextval,
		#{marketNo},
		#{originalFilename},
		#{renamedFilename}
	)
</insert>

<select id="selectOneBoard" resultType="board">
	select
		*
	from
		ticket_sharing_board
	where
		no = #{no}
</select>

<select id="selectAttachmentListByBoardNo" resultMap="attachmentVoMap">
		select
			*
		from
			attachment
		where
			market_no = #{market_no}
</select>
<resultMap type="attachment" id="attachmentVoMap">
	<!-- <result column="status" property="status" typeHandler="booleanYnTypeHandler"/> -->
</resultMap>

<select id="selectOneBoardCollection" resultMap="boardCollectionMap">
		select 
		    b.*,
		    a.*,
		    a.attach_no,
		    m.*
		from
		    ticket_sharing_board b 
		    	left join attachment a
		        	on b.no = a.market_no
		        join member m
		        	on b.member_id = m.id 
		where
		    b.no = #{no}
		order by 
		    b.no desc
</select>
<resultMap type="board" id="boardCollectionMap">
	<id column="no" property="no"/>
	<result column="title" property="title"/>
	<result column="member_id" property="memberId"/>
	<result column="content" property="content"/>
	<result column="reg_date" property="regDate"/>
	<result column="read_count" property="readCount"/>
	<!-- association 은 1:1 관계를 표현 -->
	<!-- collection 은 1:n 관계를 표현하는데 적합 -->
	<collection property="attachments" ofType="attachment">
		<id column="attach_no" property="attachNo"/>
		<result column="market_no" property="marketNo"/>
		<result column="original_filename" property="originalFilename"/>
		<result column="renamed_filename" property="renamedFilename"/>
		<result column="reg_date" property="regDate"/>
	</collection>
</resultMap>

<select id="selectOneAttachment" resultType="attachment">
	select
		*
	from
		attachment
	where
		attach_no = #{no}
</select>

</mapper>