@charset "UTF-8";

.text_en {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 400;
}
button {
	border: none;
}
section#main-content {
    background-color: #E6E6E6;
    height: auto;
}
div#board-container{
	width:800px; 
	margin:0 auto; 
	text-align:center;
	padding-top: 40px;	
}
textarea.form-control {
	height: 300px;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

div#board-container input{margin-bottom:15px;}
/* 부트스트랩 : 파일라벨명 정렬*/
div#board-container label.custom-file-label{text-align:left;}
.ib {
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    z-index: 1;
    border: none;
    color: white;
}
.ib_mono {
    color: #555;
    background-color: #EEE;
}
.bt_right .ib {
    margin-left: 3px;
    vertical-align: middle;
}
.cmt_write_option {
    position: relative;
    margin-top: 10px;
    height: 30px;
}
.containerN .atc_header p {
    padding: 20px 25px;
}
.atc_header p {
    padding: 20px 25px;
    font-size: 18px;
    line-height: 160%;
    margin: 0;
    font-weight: normal;
}
.atc_info {
    padding: 0 25px;
    line-height: 44px;
    font-size: 13px;
    background-color: #f7f7f7;
}
.atc_info_right {
    float: right;
}
.atc_info>span {
    display: inline-block;
    vertical-align: middle;
}
.atc_nickname .inkpf {
    vertical-align: middle;
    margin-right: 5px;
}
.inkpf.small {
    width: 30px;
    height: 30px;
}
.inkpf.round {
    border-radius: 50%;
}
.bg_grey1, .inkpf, .ib_mono3, .ii.ii2, .ink_dropdown .bt, .ink_message>div>h3, .ink_message .bt_area {
    background-color: #f7f7f7;
}
.inkpf {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    overflow: hidden;
    vertical-align: middle;
    background-color: #f7f7f7;
}
.inkpf_img {
    width: 100%;
    height: auto;
}
img, video {
    max-width: none;
    max-height: 600px;
}
a, button, input[type=button] {
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
}
a {
    text-decoration: none;
    outline: none;
    color: #000;
}
.font_grey1, .font_grey1 a, .ib_mono3, .ib i.only {
    color: #777;
}
.atc_date, .atc_ip {
    margin-left: 15px;
}
.atc_info_right>span {
    margin-left: 10px;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.pt_col, .c_module, .c_module a {
    color: #ec5e5e !important;
}
.pt_col2, .c_module2, .c_module2 a {
    color: #222 !important;
}
.atc_info_right .count_cmt, .atc_info_right .count_file {
    cursor: pointer;
}
.atc_font {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
.atc_body {
    padding: 25px;
}
.atc_body .xe_content {
    padding: 30px 40px 35px 40px;
}
body, table, input, button, .ink_wrap .xe_content, .text_en {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 400;
}
.atc_body .xe_content {
    padding: 25px;
}
.atc_body .xe_content {
    font-size: 16px;
    line-height: 180%;
}
.atc_body .xe_content p, .atc_body .xe_content div, .atc_body .xe_content span {
    line-height: 180%;
}
.atc_buttons_etc .ink_bubble_wrap {
    display: inline-block;
    margin-left: 5px;
}
.ink_bubble_wrap {
    position: relative;
    display: inline-block;
}
.cmt_bubble .cmt_buttons .bt2 {
    font-size: 12px;
}
.cmt_bubble .cmt_buttons .bt2 {
    display: inline-block;
    padding: 0 8px;
    margin-right: 3px;
    line-height: 24px;
    vertical-align: middle;
}

/* .cmt_bubble .cmt_buttons .bt {
    background-color: #FFF;
} */
body, table, input, button, .ink_wrap .xe_content, .text_en {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 400;
}
input, button, textarea, table {
    font-size: 14px;
}
a, button, input[type=button] {
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
}
button {
    padding: 0;
    background: none;
    cursor: pointer;
    margin: 0;
    border: none;
}
input, button, textarea, table {
    outline: none;
}
body, table, input, textarea, select, button {
    font-family: sans-serif;
    font-size: 12px;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    /* border-style: outset; */
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.cmt_title {
    padding: 15px 25px;
    background-color: #f7f7f7;
    position: relative;
}
.cmt_title h3 {
    font-size: 14px;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.pt_col, .c_module, .c_module a {
    color: #ec5e5e !important;
}
.cmt_notice {
    margin: 25px 25px 0;
    padding: 15px 15px 15px 45px;
    border-radius: 20px;
    line-height: 160%;
       position: relative;
    min-height: 40px;
    box-sizing: border-box;
}
.cmt_notice i {
    left: 18px;
    top: 15px;
    position: absolute;
    font-size: 18px;
}
.cmt_bubble .cmt_wrap {
    padding: 25px 25px 0;
}
.cmt_bubble .cmt_unit:first-of-type {
    margin-top: 0;
}
.cmt_bubble .cmt_unit {
    padding-left: 45px;
    margin-top: 25px;
}
.cmt_unit {
    position: relative;
}
.cmt_bubble .inkpf_wrap {
    width: 40px;
}
.cmt_bubble .inkpf_wrap {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.inkpf.round {
    border-radius: 50%;
}
.cmt_bubble .cmt_unit:not(.no_profile) .cmt_rank {
    position: absolute;
    left: -5px;
    top: -5px;
    margin-right: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
}
.cmt_unit .cmt_rank {
    font-size: 10px;
}
.cmt_unit .cmt_rank {
    padding: 3px 5px 3px 21px;
}
.cmt_unit .cmt_rank1 {
    background-color: #D4AF37;
}
.cmt_unit .cmt_rank2 {
    background-color: #A9A9A9;
}
.cmt_unit .cmt_rank3 {
    background-color: #B08D55;
}
.cmt_unit .cmt_rank {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    border-radius: 5px;
    color: #FFF;
    vertical-align: bottom;
}
.cmt_bubble .cmt_header {
    padding-left: 13px;
    font-size: 13px;
}
.cmt_bubble .cmt_header {
    padding-bottom: 5px;
}
.cmt_unit .nickname {
    font-weight: bold;
}
.cmt_bubble .cmt_ctrl_wrap {
    display: inline-block;
    position: relative;
    z-index: 5;
}
.paging .bt_page, .list_wrap .extra_table th, .ldw .list_unit, .ink_gallery .list_thumb, .atc_history .history_date, .atc_ex th, .ink_memo .list_wrap .inkpf, .memo_form_dummy .bt_write_memo, .cmt_title, .cmt_notice, .cmt_bubble .cmt_body, .cmt .page_line, .cmt_basic .cmt_buttons .bt, .cmt_write_input textarea, .stk_display {
    background-color: #f7f7f7;
}
.cmt_bubble .cmt_body {
    min-width: 249px;
    max-width: calc(100% - 80px);
    padding: 14px 20px;
    border-radius: 15px;
}
.cmt_bubble .cmt_body {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
}
.cmt_bubble .cmt_body .xe_content {
    font-size: 15px;
    line-height: 160%;
}
body, table, input, button, .ink_wrap .xe_content, .text_en {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 400;
}
.cmt_body .xe_content {
    font-size: 15px;
    line-height: 160%;
}
.ink_wrap .xe_content, .ink_wrap table {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
.xe_content {
    word-break: break-all;
}
.xe_content, .rhymix_content {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 16px;
    line-height: 160%;
    word-break: normal;
    word-wrap: break-word;
}
.xe_content p, .rhymix_content p {
    margin: 0 0 0px 0;
    line-height: 160%;
}
.cmt_buttons {
    position: relative;
    height: 24px;
    margin-top: 10px;
}
.cmt_buttons .bt_wrap {
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
}
.cmt_bubble .cmt_unit.level2 {
    margin-left: 45px;
}
.cmt_bubble .cmt_unit.level3 {
    margin-left: 90px;
}
.cmt_bubble .cmt_unit {
    padding-left: 45px;
    margin-top: 25px;
}
.cmt_unit {
    position: relative;
}
.cmt_bubble .cmt_date_wrap {
    font-size: 12px;
}
.cmt_bubble .cmt_date_wrap {
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: 5px;
    vertical-align: bottom;
    white-space: nowrap;
}
.cmt_buttons .bt_wrap .bt:last-of-type {
    margin-right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cmt_buttons .bt_wrap .bt:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cmt_unit .writer {
    padding: 0 8px;
    font-size: 10px;
    line-height: 16px;
}
.cmt_unit .writer {
    display: inline-block;
    margin-left: 3px;
    border-radius: 10px;
    vertical-align: bottom;
}

.pt_bg2 {
    background-color: #222 !important;
}
.pt_bg, .pt_bg2 {
    color: #FFF !important;
}
.cmt_write_unit {
    padding: 25px 0 25px 45px;
    margin: 0 25px;
}
.cmt_write_unit {
    position: relative;
}
.cmt_write_unit .inkpf {
    top: 25px;
}
.cmt_write_unit .inkpf {
    position: absolute;
    left: 0;
}
form {
    display: block;
    margin-top: 0em;
}
body, table, input, button, .ink_wrap .xe_content, .text_en {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 400;
}
input, button, textarea, table {
    font-size: 14px;
}
input, button, textarea, table {
    outline: none;
    margin: 0;
}
.cmt_write_input textarea, .stk_display {
    background-color: #f7f7f7;
}
.cmt_write_input textarea {
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border-radius: 15px;
}
.cmt_write_input textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    overflow: hidden;
    resize: none;
}
input, button, textarea, table {
    font-size: 14px;
}
textarea {
    resize: vertical;
}
input, button, textarea, table {
    outline: none;
    margin: 0;
}
.cmt_write_option {
    height: 32px;
}

.cmt_write_option .bt_area {
    position: absolute;
    right: 0;
    bottom: 0;
}
.bt_right .ib {
    margin-left: 3px;
    vertical-align: middle;
}
.ib_color {
    background-color: #ec5e5e;
}
.ib2 {
    height: 32px;
    line-height: 32px;
    padding: 0 11px;
    border-radius: 5px;
    font-size: 13px;
}
/* .ib {
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    z-index: 1;
} */
.ib_color {
    color: #FFF;
}
.ib {
    display: inline-block;
}
.cmt_write_unit {
    padding: 25px 0 25px 45px;
    margin: 0 25px;
}
.cmt_write_option .bt_area {
    position: absolute;
    right: 0;
    bottom: 0;
}
.cmt_buttons .bt_wrap .bt {
    display: inline-block;
    margin-right: 1px;
    padding: 0 8px;
    line-height: 24px;
}
.cmt_write_input textarea:focus {
    background-color: #fcf8e3;
}
.reply, .reply2 {
    background-color: #FFF;
}
.reply:hover, .reply2:hover {
    background-color: #999;
    color: #FFF;
}
.deleteComment {
	background-color: white;
	color: #EC5E5E;
}
.deleteComment:hover {
	background-color: #EC5E5E;
	color: #FFF;
}
a, button, input[type=button], .reply, .reply2 {
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
}
.anonymous {
	background-color: white;
}
.cmt_unit .writer {
    padding: 0 8px;
    font-size: 10px;
    line-height: 16px;
}
.cmt_unit .writer {
    display: inline-block;
    margin-left: 3px;
    border-radius: 10px;
    vertical-align: bottom;
}
.pt_bg2 {
    background-color: #222 !important;
}
.pt_bg, .pt_bg2 {
    color: #FFF !important;
}
.cmt_body .parent {
    color: #888;
    font-size: 12px;
    margin-bottom: 7px;
}
.atc_vote .bt_vote {
    background-color: #fbdfdf;
    color: #ec5e5e;
    margin-right: 5px;
}
.atc_vote button {
    border-radius: 10px;
}
.atc_vote button {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
}
.atc_vote .bt_vote .voted_count {
    border-left: 1px solid #f9d2d2;
}
.atc_vote .voted_count {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    transition-property: border-color;
    transition-duration: 0.3s;
}

.atc_vote .bt_vote:hover {
    background-color: #ec5e5e !important; 
}
.atc_vote .bt_vote:hover {
    color: #FFF !important;
}
.atc_vote .bt_vote:hover .voted_count {
    border-left-color: #ef7676 !important;
}
#myBtn {
	opacity: 0; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 90px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #F5F5F5; /* Set a background color */
	color: black; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 5px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	box-shadow: 0px 0px 16px -5px grey;
	transition-duration: 0.3s;
}
#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}
#to_list {
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #F5F5F5; /* Set a background color */
	color: black; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 5px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	box-shadow: 0px 0px 16px -5px grey;
	transition-duration: 0.3s;
}
#to_list:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}